# Project-Specific 
literature/*
data/*
build/* 
bin/*
results/*

# IDE specific
.idea/*
cmake-build-debug/*

*.temp

# Text files, notes and literature
*.txt
*.data
*.notes
*.pdf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh

# Data
*.csv
*.gz
*.zip
*.png
*.jpg
*.jpeg
*.tiff
*.dat
*.log
*.svm
*.bin

# Filesystems 
.DS_Store

# local development stuff 
.clangd
compile_commands.json
